body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}


h1{
    margin-top: 20px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 15px;
    justify-content: center;
    margin: 30px auto;
}


.color-box{
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 2px solid #333;
    background-color: purple;
    border-radius: 10px;

}   


#message{
    margin-top: 20px;
    font-size: 18px;
    height: 24px;
    font-weight:bold;
}

button{
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}